<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/delete.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Delete_Confirm</title>
</head>
<body>
<form class="box" role="form" id="delete"  th:action="@{/delete}" method="post">
	<a th:href="@{'/top'}" >top</a>
	<a th:href="@{'/logout'}" >logout</a>
    <table th:each="rtltForm: ${rtltForm}">
		<tr th:if="${rtltForm.getAnswer_count() eq 1}">
			<td th:text="'問題：'"></td>
      		<td><input type="text" id="question" name="question"  th:value="${rtltForm.getQuestion()}"  readonly>
      			<input type="hidden" id="id" name="id"  th:value="${rtltForm.getId()}" >
		</td>
   	  	</tr>      
    	<tr>
       		<td th:text="'答え'"></td>
    		<td><input type="text" id="answer" name="answer"  th:value="${rtltForm.getAnswer()}" readonly>
    		<input type="hidden" id="answer_id" name="answer_id"  th:value="${rtltForm.getAnswer_id()}" >
    		</td>
		</tr>
	</table>
    <input type="submit" name="action" value="return">
    <input type="submit" name="action" value="delete">
	<br />
</form>
</body>
</html>