<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/style_list.css}" rel="stylesheet">
	 <script th:src="@{/js/edit.js}"></script>
<title>Edit</title>
</head>
<body>
<form class="box" role="form" id="editConfirm"  th:action="@{/editConfirm}" method="post">
<div class="form">
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
</div>
<table id="tbl" >
	<tbody th:each="rtltForm, elementStat : ${rtltForm}">
		<tr th:if="${rtltForm.getAnswer_count() eq 1} or ${rtltForm.getAnswer_count() eq 0}">
   			<td>問題番号：</td>
   			<td><input type="text" id="id"  th:name="id"  th:value="${rtltForm.getId()}" ></td>
   		</tr>
   		<tr th:if="${rtltForm.getAnswer_count() eq 1} or ${rtltForm.getAnswer_count() eq 0}">
   			<td>問題：</td>
   			<td><input type="text" id="question" name="question"  th:value="${rtltForm.getQuestion()}"></td>
   		</tr>
   	<tbody th:each="rtltForm, elementStat : ${rtltForm}">
    	<tr th:unless="${rtltForm.getAnswer_count() eq 0}">
   			<td th:if="${rtltForm.getAnswer_count() eq 1}" >答え：</td>
   			<td th:if="${rtltForm.getAnswer_count() ne 1}" > &emsp;&emsp;&emsp;&emsp;&emsp;</td>
   			<td><input type="text" id="answer" name="answer"  th:value="${rtltForm.getAnswer()}" ></td>
   			<td><input type="hidden" id="answer_id' + count + '" name="answer_id"  th:value="${rtltForm.getAnswer_id()}" ></td>
   		</tr>
   	</tbody>
</table>
<br>
<input type="submit" name="action" value="return">
<input type="submit" name="action"  value="update" >
</form>
</body>
</html>