<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/edit.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
	 <script th:src="@{/js/edit.js}"></script>
<title>Edit</title>
</head>
<body>
<form class="box" role="form" id="edit"  th:action="@{/edit}" th:object="${confirmRequest}" method="post">
<div class="form">
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
</div>
<div th:if="${validationError}" th:each="error : ${validationError}" style="color:red;" th:text="${error}"></div> 
<table id="tbl" >
	<tbody th:each="rtltForm, elementStat : ${rtltForm}">
		<tr th:if="${rtltForm.getAnswer_count() eq 1} or ${rtltForm.getAnswer_count() eq 0}">
   			<td>問題番号：</td>
   			<td><input type="text" id="id"  th:name="id"  th:value="${rtltForm.getId()}" ></td>
   		</tr>
   		<tr th:if="${rtltForm.getAnswer_count() eq 1} or ${rtltForm.getAnswer_count() eq 0}">
   			<td>問題：</td>
   			<td><input type="text" id="question" name="question"  th:value="${rtltForm.getQuestion()}"></td>
   		</tr>
   	<tbody th:each="rtltForm, elementStat : ${rtltForm}">
    	<tr th:unless="${rtltForm.getAnswer_count() eq 0}">
   			<td th:if="${rtltForm.getAnswer_count() eq 1}" >答え：</td>
   			<td th:if="${rtltForm.getAnswer_count() ne 1}" > &emsp;&emsp;&emsp;&emsp;&emsp;</td>
   			<td><input type="text" id="answer" name="answer"  th:value="${rtltForm.getAnswer()}" ></td>
   			<td  th:if="${rtltForm.getAnswer_count() ne 1}">
   				<input class="delbtn" type="button" id="delBtn' + count + '" name="action" value="delete" onclick="deleteRow(this)"></td>
   			<td><input type="hidden" id="answer_id' + count + '" name="answer_id"  th:value="${rtltForm.getAnswer_id()}" ></td>
   		</tr>
   	</tbody>
</table>
<br>
<input type="submit" name="action" value="return">
<input type="submit" name="action"  value="editCheack" >
<input type="button" id="add" name="add" value="add" onclick="appendRow()">
</form>
</body>
</html>