<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/edit.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>EditConfirm</title>
</head>
<body>
<div class="box">
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
</div>
<form class="box" role="form" id="editConfirm"  th:action="@{/editConfirm}" method="post">
  <table >
  	<tbody th:each="rtltForm : ${rtltForm}" >
		<tr th:if="${rtltForm.getAnswer_count() eq 1}">	
			<td>問題番号：</td>
			<td><input type="text" id="id" name="id" th:value="${rtltForm.getId()}" readonly></td>
		</tr>
		<tr th:if="${rtltForm.getAnswer_count() eq 1}">	
			<td>問題：</td>
			<td><input type="text" id="question" name="question" th:value="${rtltForm.getQuestion()}" readonly></td>
		</tr>
	</tbody>
	<tbody th:each="rtltForm : ${rtltForm}" >
		<tr>
			<td th:if="${rtltForm.getAnswer_count() eq 1}">答え：</td>
			<td th:if="${rtltForm.getAnswer_count() ne 1}" > &emsp;&emsp;&emsp;&emsp;&emsp;</td>
			<td><input type="text" id="answer" name="answer" th:value="${rtltForm.getAnswer()}" readonly>
			<input type="hidden" id="answer_id" name="answer_id"  th:value="${rtltForm.getAnswer_id()}" ></td>
    	</tr>
    </tbody>
   </table> 
   <input type="submit" name="action" value="return">
   <input type="submit" name="action"  value="update">
</form>
</body>
</html>