<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link  th:href="@{/css/list.css}" rel="stylesheet">
	<link  th:href="@{/css/style.css}" rel="stylesheet">
<title>List</title>
</head>
<body>
<form class="box" role="form" id="list"  th:action="@{/list}" method="post">
	<h1>問題一覧</h1>
		<a th:href="@{'/register'}" >新規登録</a>
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
	<table th:each="listForm : ${listForm}">
		<tr th:if="${listForm.getAnswer_id() eq 1}">
			<td th:text="'問題：'+${listForm.getId()}"></td>
        	<td th:text="${listForm.getQuestion()}"></td>
        	<td><a th:href="@{'/edit}" >編集</a></td>
        	<td><a th:href="@{'/delete}" >削除</a> </td>
		</tr>      
    	<tr>
       		<td th:text="'答え'+${listForm.getAnswer_id()}+'：'"></td>
        	<td th:text="${listForm.getAnswer()}"></td>
		</tr>
	</table>
</form>
</body>
</html>