<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	 
	<link  th:href="@{/css/style_list.css}" rel="stylesheet">
<title>List</title>
</head>
<body>
<div class="box" >
<form th:action="@{/list}" method="post">
<div class="form">
	<a th:href="@{'/top'}" >top</a>
	<a th:href="@{'/logout'}" >logout</a>
</div>
<input type="submit" name="action" value="register">
</form>
<table th:each="listForm : ${listForm}" >
	<tr th:if="${listForm.getAnswer_id() eq 1} or ${listForm.getAnswer_id() eq 0}">
		<td th:text="問題："></td>
		<td><input type="text"  id="id" name="id"  th:value="${listForm.getId()}"  readonly></td>
		<td><input type="text" id="question" name="question"  th:value="${listForm.getQuestion()}"  readonly></td>
		<td>
		<form th:action="@{/list}" method="post" th:object="${list}">			
		<input type="submit" name="action" th:value="edit">
		<input type="hidden" name="id" th:value="${listForm.getId()}">
		</form>
		</td>
   		<td>
   		<form th:action="@{/list}" method="post" th:object="${list}">			
		<input type="submit" name="action" th:value="delete">
		<input type="hidden" name="id" th:value="${listForm.getId()}" >
		</form>
		</td>
	</tr>
   	<tr th:unless ="${listForm.getAnswer_id() eq 0}">
   		<td th:text="答え："></td>
   		<td ><input type="text" id="answer_id" name="answer_id"  th:value="${listForm.getAnswer_id()}"  readonly></td>
		<td><input type="text" id="answer" name="answer"  th:value="${listForm.getAnswer()}"  readonly></td>
		<td></td>
		<td></td>
	</tr>
</table>
</div>
</body>
</html>