<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link  th:href="@{/css/list.css}" rel="stylesheet">
	<link  th:href="@{/css/style.css}" rel="stylesheet">
<title>List</title>
</head>
<body>
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
		<form id="list" th:action="@{/list}" method="post">
			<input type="submit" name="action" value="register">
		</form>
<div th:each="listForm : ${listForm}"  th:object="${deleteObject}">
	<form id="list" th:action="@{/list}" method="post">
		<table>
			<tr th:if="${listForm.getAnswer_id() eq 1}"><td>問題：<input type="text" id="id" name="id"  th:value="${listForm.getId()}"  readonly></td>
			<td><input type="text" id="question" name="question"  th:value="${listForm.getQuestion()}"  readonly></td>
			<td><input type="submit" name="action" value="edit"></td>
    		<td><input type="submit" name="action" value="delete"></td></tr>
    		<tr><td>答え<input type="text" id="answer_id" name="answer_id"  th:value="${listForm.getAnswer_id()}"  readonly>:</td>
			<td><input type="text" id="answer" name="answer"  th:value="${listForm.getAnswer()}"  readonly></td></tr>
		</table>
	</form>	      
</div>
</body>
</html>