<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/login.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Login_Form</title>
</head>
<body>
<form class="box" role="form" id="login"  th:action="@{/login}" method="post">
	<h1>Login</h1>
    <div th:if="${ErrorMessage!=null}" th:text="${ErrorMessage}" style="color:red;"></div>
    <input type="text" id="username" name="username" placeholder="Username" autofocus="autofocus" >
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" class="submit" value="Login">
	<br />
	<a th:href="@{'/signup'}" id="login_signup" >新規登録はこちら</a>
</form>
</body>
</html>