<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/register.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
	 <script th:src="@{/js/AddDelete.js}"></script>
<title>Register</title>
</head>
<body>
<div class="box">
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
</div>
<form class="box" role="form" id="register"  th:action="@{/register}" th:object="${confrimRequest}" method="post">
	<h1>Registration</h1>
	<div th:if="${validationError}" th:each="error : ${validationError}" style="color:red;" th:text="${error}"></div> 
	<table id="tbl">
    	<tr>	
    		<td>問題：</td>
    		<td><input type="text" id="question" name="question" placeholder="Question" autofocus="autofocus" ></td>
    	</tr>
    	<tr>
    		<td>答え：</td>
    		<td><input type="text" id="answer" name="answer" placeholder="Answer" autofocus="autofocus" ></td>
    	</tr>
    </table>
    <input type="submit" name="action" value="return" >
    <input type="submit" name="action"  value="registerCheack" >
    <input type="button" id="add" name="add" value="add" onclick="appendRow()">
</form>
</body>
</html>