<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/style_two.css}" rel="stylesheet">
<title>Test_Form</title>
</head>
<body>
<div class="box">
	<div class="form">
		<a th:href="@{'/top'}" >top</a>
		<a th:href="@{'/logout'}" >logout</a>
	</div>
	<h1>テスト結果</h1>
	<table>
    	<tr>
    	 <td th:text="${#authentication.principal.username} + 'さん'"></td>
    	</tr>
    	<tr>
    	 <td th:text="${resultForm.getQuestioncount()}+'問中'+ ${resultForm.getCorrectcount()}+'問正解です。'"></td>
    	</tr>
    	<tr>
   	     <td th:text="${resultForm.getResulttest()}+'点でした。'"></td>
   	    </tr>
   	</table>
   	<div class="form">
   	     <div th:text="${resultForm.getCurrentime()}"></div>
	</div>
</div>
</body>
</html>