<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/test.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Test_Form</title>
</head>
<body>
	<a th:href="@{'/top'}" >top</a>
	<a th:href="@{'/logout'}" >logout</a>
	<h1>テスト結果</h1>
	<table th:object=${resultForm}>
	<tr>
		<td th:field="${#authentication.principal.username}"></td>
	</tr>
	<tr>
		<td th:text="*{question_count}"></td>
	</tr>
	<tr>
		<td th:text="*{correct_count}"></td>
	</tr>
	<tr>
		<td th:text="*{resultTest}"></td>
	</tr>
	<tr>
		<td th:text="*{currenTime}"></td>
	</tr>
 	</table>

</body>
</html>