<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/test.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Test_Form</title>
</head>
<body>
<form role="form" class="resultForm"  th:action="@{/test}" method="post"  th:object="${resultForm}">
	<a th:href="@{'/top'}" >top</a>
	<a th:href="@{'/logout'}" >logout</a>
	<h1>テスト結果</h1>
	<table>
	<tr>
		<td th:field="${#authentication.principal.username}"></td>
	</tr>
	<tr>
		<td><input type="text" th:field="*{questionCount}"></input></td>
	</tr>
	<tr>
		<td th:text="${#authentication.principal.username}"></td>
	</tr>
	<tr>
		<td th:text="${#authentication.principal.username}"></td>
	</tr>
 	</table>
</form>
</body>
</html>