<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/test.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Test_Form</title>
</head>
<body>
<form class="box" role="form" id="test"  th:action="@{/test}" method="post">
	<a th:href="@{'/top'}" >top</a>
	<a th:href="@{'/logout'}" >logout</a>
	<h1>テスト</h1>
    <table th:each="questions : ${questions}" >
   	<tr>
   		<td><label><input type="text" id="questions_id"  th:name="questions_id"  th:value="${questions.id}" readonly ></label></td>
		<td><input type="text" id="questions_question" name="questions_question"  th:value="${questions.question}" readonly></td>
    </tr>
    <tr>
    	<td class=center><label id="title" >回答</label></td>
		<td><input type="text" id="answer" name="answer" placeholder="Answer" ></td>
  	</tr>
	</table>
	<input type="submit" class="submit" name="action" value="Cheack">
</form>
</body>
</html>