<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/top.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Top_Form</title>
</head>
<body>
<form class="box" role="form" th:action="@{/top}" method="post">
	<div class="form"><a th:href="@{'/logout'}" >logout</a></div>
	<h1>Top</h1>
    <button type="submit" name="action" value="list">問題と答えを確認・登録する　＞</button>  
    <button type="submit" name="action" value="test">テストをする　　　　　　　　＞</button>
    <button type="submit" name="action" value="history">過去の採点結果をみる　　　　＞</button>
</form>
</body>
</html>