<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <link  th:href="@{/css/top.css}" rel="stylesheet">
	 <link  th:href="@{/css/style.css}" rel="stylesheet">
<title>Top_Form</title>
</head>
<body>
<form class="box" role="form" th:action="@{/top}" method="post">
	<h1>Top</h1>
	<input type="submit"  class ="button" id="list" value="問題と答えを確認・登録する　＞" >
    <input type="submit"  class ="button" id="test" value="テストをする　　　　　　　　＞">
    <input type="submit"  class ="button" id="result" value="過去の採点結果をみる　　　　＞">
</form>
<form class="boxout" role="form" th:action="@{/logout}" method="post">
    <input type="submit"  class ="button" value="Logout">
</form>
</body>
</html>